<launch>
    <param name="use_sim_time" value="true"/>
    
    <arg name="file" default=""/>
    <node pkg="rosbag" type="play" name="replay" args=" $(find this_robot)/$(arg file).bag" output="screen">
    </node>
    
    <node pkg="gmapping" type="slam_gmapping" name="slam" output="screen">
        <param name="scan" value="scan"/>
        
        <param name="ymin" value="-5"/>
        <param name="xmin" value="-5"/>
        <param name="ymax" value="5"/>
        <param name="xmax" value="5"/>
    </node>
</launch>
